__pycache__/
*~
\#*
.#*
# Ignore .egg-info directories
*.egg-info/
*tmp*
*old*
*Copy*
output/*
README.txt
papers/
researchworld/
superpanda/
# Ignore files still under development
rulebase.txt
interesting-trace*
cm_train*
SUPERPANDA_WEB_README.md
run_superpanda_web.py
README-sys-path-problem.txt
UI_CHANGES.md



